.DS_Store
Pass/build/CMakeCache.txt
Pass/build/CMakeFiles/
Pass/build/Makefile
Pass/build/cmake_install.cmake
Pass/build/libLLVMValueNumberingPass.so
Pass/build/libLLVMLivenessPass.so
test/ValueNumbering/*.ll
test/Liveness/*.ll
output.txt
.vscode/
